<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

  <title>Fake News Detector</title>
</head>

<body>



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Bangla Fake News Detector</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">About Us</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Contact Us</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>



  <div class="container">
    <h2 class="text-center mt-3">বাংলা ভুয়া খবর সনাক্ত করুন 🙂🙂</h2>

    <form action="/" method="POST">



      <div class="form-group">
        <label for="category">খবরের ক্যাটাগরি নির্বাচন করুন:</label>
        <select class="form-control custom_select" name="category" id="category">
          {% for location in locations %}
          <option value="{{location}}">{{location}}</option>
          {% endfor %}
        </select>
      </div>



      <div class="form-group">
        <label for="relation">খবরের রিলেশন নির্বাচন করুন:</label>
        <select class="form-control custom_select" name="relation" id="relation">
          {% for rela in relation %}
          <option value="{{rela}}">{{rela}}</option>
          {% endfor %}

        </select>
      </div>



      <div class="form-group">
        <label for="headline">খবরের হেডলাইন লিখুন:</label>
        <input type="text" class="form-control" id="headline" name="headline">
      </div>



      <div class="form-floating">
        <label for="content">এখানে মূল খবরটি লিখুন:</label>
        <textarea class="form-control" placeholder="খবরটি লিখুন.." id="content" name="content"
          style="height: 100px"></textarea>
        
        
      </div>



      <button class="btn btn-primary">সনাক্ত করুন</button>
    </form>
  </div>


  <h4 class="text-center mt-3">This AI App is Created by....🐱‍🚀🐱‍👓</h4>
  <h5 class="text-center mt-3">****Bappy Ahmed****</h5>
  <h5 class="text-center mt-3">And</h5>
  <h5 class="text-center mt-3">****Touhid Hossain****</h5>


  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
    integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
    crossorigin="anonymous"></script>
</body>

</html>