<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">

  <title>Email Spam Classifier</title>
</head>

<body>

  <!-- Navbar -->

  <div class="container">
    <nav class="navbar navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Email Spam Classifier</a>
        <a class="navbar-brand" href="#">Created by **Bappy Ahmed**</a>
      </div>
    </nav>
  </div>


  <!-- Input form -->

  <div class="container">
    <h2 class="text-center mt-3">Type an Email here to check it is Spam or Ham</h2>

    <form action="/" method="POST">
      <div class="form-floating">
        <textarea class="form-control" placeholder="Write your mail here.." id="email" name="email" style="height: 100px"></textarea>
        <label for="email">Write your email here...</label>
        <button class="w-100 btn btn-lg btn-primary">Submit</button>
      </div>

    </form>

  </div>



</body>

</html>